<p id="notice"><%= notice %></p>

<p>
  <strong>Teacher:</strong>
  <%= @section.teacher.first_and_last_name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @section.subject.name %>
</p>

<p>
  <strong>Classroom:</strong>
  <%= @section.classroom.number %>
</p>

<p>
  <strong>Starting at:</strong>
  <%= @section.starting_at %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @section.duration %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>

<p>
  <strong>Students</strong>
  <ul>
    <% @section.student_sections.each do |student_section| %>
      <li>
        <%= link_to student_section.student.first_and_last_name, student_path(student_section.section) %>
      </li>
    <% end %>
  </ul>
</p>
